/docs/u7_vba/_minted*
__pycache__/
*.aux
*.bbl
*.blg
*.log
*.out
*.gz
*.toc
*.bst
*.bcf
*.run.xml
*.7z
*.rnt
*.auxlock
~$*
/old
res7.err_log
/stuff_to_merge/25.csv
/stuff_to_merge/26.csv
/stuff_to_merge/27.csv
/stuff_to_merge/28.csv
/stuff_to_merge/input_data.csv
/stuff_to_merge/resampled_small_data.csv
/stuff_to_merge/result_data.csv
/stuff_to_merge/2.csv
/stuff_to_merge/3.csv
/stuff_to_merge/4.csv
/stuff_to_merge/5.csv
/stuff_to_merge/6.csv
/stuff_to_merge/7.csv
/stuff_to_merge/8.csv
/stuff_to_merge/9.csv
/stuff_to_merge/10.csv
/stuff_to_merge/11.csv
/stuff_to_merge/12.csv
/stuff_to_merge/13.csv
/stuff_to_merge/14.csv
/stuff_to_merge/15.csv
/stuff_to_merge/16.csv
/stuff_to_merge/17.csv
/stuff_to_merge/18.csv
/stuff_to_merge/19.csv
/stuff_to_merge/20.csv
/stuff_to_merge/21.csv
/stuff_to_merge/22.csv
/stuff_to_merge/23.csv
/stuff_to_merge/24.csv
